<!--resultado.ejs-->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Aprendendo Express e EJS</title>
    <style>
        body {
            background-color: black;
            color: darkblue;
        }
    </style>
</head>
<body>
    <h1>Resultado da fórmula de bhaskara</h1>
    <p>A:<%=a%> B:<%=b%> C:<%=c%></p>
    <p><%=mensagem%></p>
    <p><%=x1%></p>
    <p><%=x2%></p>
</body>
</html>